@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.container{
    background-image: url(background.jpg);
    font-family: 'Poppins', sans-serif;
    
}

.login{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 125px;
}
.form{
    padding: 10px;
}
.form-control{
    text-align: center;
    
    padding: 10px;
    font-weight: bolder;

}

.btn {
    background-color: #2fbf71;
    color:black;
    margin-top: 10px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-weight: 400;
    letter-spacing: 2px;
    outline: auto;
    font-weight: bolder;
    
    font-family: "Gill Sans", sans-serif;
}
.p-page{
    
    color: aliceblue;
    text-align: center;
    font-family: "Monaco", "Courier New", monospace;
    margin-top: 125px;
    padding-inline-start: 10px;
    font-weight: bold;
    font-size: large;
}

a.btn.home{
    background-color: antiquewhite;
    margin-top: 50px;
    margin-left: 45%;
    outline: auto;
    text-decoration: none;
}

.pred{
    background-image: url(movieimg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.p-page2{
    font-family: "Gill Sans", sans-serif;
    font-weight: lighter;

}